# URL de la API de OpenWebUI
OPENWEBUI_URL="http://192.168.17.11:3000"
# API Key de la API de OpenWebUI
USER_API_KEY="YOUR_API_KEY"
# Modelo de IA a usar en la API de OpenWebUI
MODEL="google/gemma-4-26B-A4B-it"
#MODEL="mistralai/Ministral-3-14B-Instruct-2512"